<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings >
    <add name="myConn" connectionString="data source=192.168.53.253;initial catalog=15softDB;uid=15soft;password=123;"/>
  </connectionStrings>

    <system.web>
        
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
